# Carregando os dados

In [16]:
from sklearn import datasets
import pandas as pd

iris_sk = datasets.load_iris()
iris = pd.DataFrame(iris_sk.data)
iris

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [14]:
iris_sk.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

# Renomeia as colunas

In [27]:
iris.rename(columns={0:'sepal length (cm)', 1 : "sepal width (cm)", 2:'petal length (cm)', 3: 'petal width (cm)'}, inplace=True)
iris

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

 # Insere Classificações

In [31]:
iris_sk.target 
iris_sk.target_names
iris_class = pd.DataFrame(iris_sk.target)
iris_class

     0
0    0
1    0
2    0
3    0
4    0
..  ..
145  2
146  2
147  2
148  2
149  2

[150 rows x 1 columns]

Renomeia os target pelos nomes

In [32]:
iris_sk.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [33]:
iris_class.rename(columns={0:'Classifiction'}, inplace=True)
iris_class

     Classifiction
0                0
1                0
2                0
3                0
4                0
..             ...
145              2
146              2
147              2
148              2
149              2

[150 rows x 1 columns]

In [34]:
# ['setosa', 'versicolor', 'virginica']
iris_class['Classifiction'] = iris_class['Classifiction'].replace({0:'setosa', 1:'versicolor', 2: 'virginica'})
iris_class

    Classifiction
0          setosa
1          setosa
2          setosa
3          setosa
4          setosa
..            ...
145     virginica
146     virginica
147     virginica
148     virginica
149     virginica

[150 rows x 1 columns]

In [36]:
iris = pd.concat([iris, iris_class], axis=1)
iris

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Classifiction
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

# Transforma em CSV

In [37]:
iris.to_csv('iris.csv', sep=';', encoding='utf-8', index=False)